<div class="popUp">
    <div class="internal">
        <!-- <div class="ohsnapicon" align="center"></div> -->
        <div class="popUpTitle">Oh Snap!</div>
        <div class="popUpMsg">Something isn\'t right.</div>
        <div id="closeButton" class="popUpClose" onclick="hidePopUp()">Close</div>
        <div id="yesButton" class="popUpClose">Yes</div>
        <div id="noButton" class="popUpClose">No</div>
    </div>
</div>
