<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div>Dear Parent,</div><br>
	<div>Thank you for your interest in admitting your ward in our school.</div>
	<div>I would request you to fill the form at this link https://openday.in to further process the admission of your ward.</div>
	<br>
	<div>Regards,</div>
	<div><%= name%></div>
</body>
</html>