<div class="page-header navbar navbar-fixed-top">
	<!-- BEGIN HEADER INNER -->
	<div class="page-header-inner ">
		<!-- BEGIN PAGE TOP -->
		<div class="page-top"><%= school.name%></div>
		<!-- END PAGE TOP -->
	</div>
	<!-- END HEADER INNER -->
</div>
<style>
	.page-header.navbar {
		min-height: 60px;
		height: 60px;
	}
	.page-header-fixed .page-container {
		margin-top: 60px;
	}
	.page-header.navbar .page-top {
		padding-left: 20px;
		padding-right: 20px;
		white-space: nowrap; 
		overflow: hidden;
		text-overflow: ellipsis;
		line-height: 60px;
		height: 60px;
		text-align: center;
		font-weight:700;
		font-size: 16px;
		/*background: url(../assets/layouts/img/logo-dashboard-menu.png) 5% center no-repeat;*/
	}
</style>